pip==24.3.1
setuptools==69.5.1
packaging==24.2
wheel==0.44.0
numpy==1.26.4
diffusers==0.21.4
transformers==4.35.0
accelerate==0.24.1
huggingface_hub==0.17.3
wandb==0.17.9
pytorch-lightning==1.9.0
torchmetrics==0.11.1
torch-fidelity==0.3.0
omegaconf==2.1.1
einops==0.3.0
kornia==0.6
clean-fid==0.1.35
scipy<2
matplotlib
lpips
pandas
Pillow
safetensors
tqdm
imageio==2.9.0
imageio-ffmpeg==0.4.2
invisible-watermark
openai
git+https://github.com/openai/CLIP.git@main#egg=clip
